:root{
  /* primary */
  --dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  /* accent */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  /* Neutral */
  --grayish-blue: hsl(240, 75%, 98%);
  --gray: hsl(0, 0%, 75%);
  /* heading font */
  --heading-font:'Raleway', sans-serif;
  /* body font */
  --body-font: 'Open Sans', sans-serif;
}
/* general styles */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  font-family: var(--body-font);
  color: var(--dark-blue);
}

/* header styles */
header{
  width: 90%;
  margin: 60px auto 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--heading-font);
}
.logo{
  width: 15%;
}
/* responsive logo */
@media (max-width:1024px) {
  .logo{
    width: 20%;
  }
}
@media (max-width:700px) {
  .logo{
    width: 24%;
  }
}
@media (max-width:500px) {
  .logo{
    width: 35%;
  }
}
/* header styles */
.logo > img {
  width: 100%;
}
a{
  text-decoration: none;
  color: var(--dark-blue);
  margin-left: 15px;
}
a:hover{
  color: var(--moderate-cyan);
  font-weight: bolder;
  transition: all .5s;
}

/* section styles */
section{
  width: 90%;
  margin: 60px auto;
  display: flex;
  /* align-items: center; */
}
article{
  width: 50%;
}
aside{
  width: 50%;
}
aside > img {
  width: 90%;
}
h1{
  margin: 60px 0 0 0;
  font-size: 2.8rem;
  font-weight: 700;
  font-family: var(--heading-font);
}
p{
  width: 90%;
  font-size: 18px;
  font-weight: bolder;
  color: var(--desaturated-blue);
}
.header-form{
  width: 90%;
}
input{
  width: 55%;
  padding: 10px 15px;
  border: solid .1px gray;
}
input:focus{
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}
::placeholder{
  opacity: 0.4;
}
button{
  width: 40%;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--bright-blue);
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
button:hover{
  background-color: var(--desaturated-blue);
}
h2{
  font-size: 2.2rem;
  font-weight: 700;
  font-family: var(--heading-font);
}
.productive-article > p{
  font-weight: normal;
}
.demo-link{
  color: var(--moderate-cyan);
  font-size: 14px;
  padding: 5px 0;
}
.demo-box{
  width: 25%;
  border-bottom: solid .4px var(--moderate-cyan);
}
.card{
  width: 50%;
  margin: 25px 0;
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 5px 15px 4px #E0E0E0;
box-shadow: 0px 5px 15px 4px #E0E0E0;
}
.quote{
  margin-top: 15px;
  margin-left: 5%;
}
.review{
  width: 90%;
  margin: 5px auto;
  font-weight: normal;
  font-size: 16px;
}
.profile{
  width: 90%;
  padding: 20px;
  display: flex;
  align-items: center;
}
.picture{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('images/avatar-testimonial.jpg');
  background-size: cover;
}
.personal-info{
  margin-left: 15px;
}
h3{
  font-size: 14px;
  padding: 0;
  margin: 0;
}
h4{
  font-size: 11px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
.bg-productive{
  width: 100%;
  padding: 50px 0 5px 0;
  background: url('images/bg-curve-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
}
.bg-access{
  width: 100%;
  background-color: var(--desaturated-blue);
}
.early-access{
  height: 300px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.access, .access > p{
  color: white;
}
.access > p{
  width: 70%;
  font-weight: normal;
  font-size: 16px;
}
.access-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.btn-access{
  margin: 15px 0;
}
.btn-access:hover{
  background-color: var(--moderate-cyan);
}

/* the footer */
footer{
  width: 100%;
  background-color: var(--dark-blue);
}
.footer-content{
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact{
  width: 25%;
  margin: 50px 0;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.logo-footer > img{
  filter: brightness(0) invert(1);
}
.contact-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.contact-info > img {
  width: 20px;
  height: 20px;
}
.logo-footer{
  width: 65%;
}
.fylo-foot{
  width: 120px;
  height: 40px;
}
.contact-info > p{
  font-size: 14px;
  font-weight: 400;
  margin-left: 30px;
  color: white;
}
.footer-content > nav{
  width: 40%;
  margin: 80px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 20px;
  color: white;
}
.footer-content > nav > a {
  text-decoration: none;
  color: white;
}
.footer-content > nav > a:hover{
  color: var(--moderate-cyan);
}
ion-icon{
  width: 20px;
  height: 20px;
  border: solid .4px white;
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
  color: white;
}
ion-icon:hover{
  color: var(--moderate-cyan);
}

/* media query */
@media (max-width:1024px) {
  header{
    margin: 20px auto;
  }
  h1{
    font-size: 2.1rem;
  }
  section{
    flex-direction: column-reverse;
    margin: 10px auto;
  }
  article{
    width: 100%;
    text-align: center;
  }
  aside{
    width: 100%;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  input{
    width: 80%;
    margin: 10px auto;
  }
  button{
    width: 80%;
    margin: 0 auto;
  }
  h2{
    font-size: 2rem;
  }
  .bg-productive{
  background: url('images/bg-curve-mobile.svg');
  background-size: cover;
  margin: 0;
}
  .productive-article > p{
  text-align: center;
  margin: 13px auto;
}
.demo-box{
  width: 30%;
  margin: auto;
}
.card{
  width: 75%;
  margin: 25px auto;
  text-align: left;
}
.early-access{
  display: flex;
  flex-direction: column;
}
.access-form{
  margin:40px auto;
}
.access > p{
  margin: auto;
}
.btn-access{
  margin: auto;
}
.footer-content{
  width: 70%;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  align-items: flex-start;
}
.contact{
  width: 100%;
  margin: 30px 0;
}
.footer-content > nav{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.footer-content > nav > a {
  margin-left: 0;
}
.socials{
  margin: 10px auto;
}
}
